@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.attribution{
     font-size: 11px; text-align: center; 
}
.attribution,
.attribution a{
     color: white;
     padding-bottom: .5rem;
}
*{
    box-sizing: border-box;
    font-family: hervetica;
    margin: 0;
    padding: 0;
}
footer,
main{
    padding-top: 1rem;
    margin: 0 auto;
    max-width: 1440px;
}
:root{
    --btn_color:hsl(224, 93%, 58%);
    --color_light:hsl(240, 75%, 98%);
    --color_p:hsl(0, 0%, 75%);
    --color-link:hsl(170, 45%, 43%);
    --footer_bgc:hsl(243, 87%, 12%);
    --up_footer_bgc:hsl(238, 22%, 44%);
}
.logo{
    width: 6rem;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
footer li,
nav li{
    margin: .5rem;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav a{
    color: var(--footer_bgc);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
}
.img{
    margin: 4rem 1rem 1rem 1rem;
    width: 90%;
}
.text{
    margin: 1rem;
    text-align: center;
}
.snd{
    background-image: url(../img/bg-curve-mobile.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.text h2,
.text h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-bottom: 1rem;
}
.text p{
    color: var(--color_p);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.text h2{
    font-size: 21px;
}
.p2{
    text-align: left;
    margin: .5rem;
}
input{
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    height: 2.5rem;
    margin: 1rem;
    padding-left: 1rem;
    width: 90%;
}

.link a{
    border-bottom: 1px solid var(--color-link);
    color: var(--color-link);
    font-weight: bold;
    padding-bottom: .3rem;
    text-decoration: none;
}
.link a:hover{
    color: hsl(170, 56%, 72%);
}
.btns{
    display: flex;
    flex-direction: column;
}
.btn{
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: var(--btn_color);
    border-radius: 5px;
    color: var(--color_light);
    margin: 0 1rem 1rem;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
}
.btn:hover{
    background-color: hsl(224, 85%, 74%);
}
.card{
    box-shadow: -1px 1px 7px 0px var(--up_footer_bgc);
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
}
.testimonial{
    display: flex;
    padding: 1rem 1rem 1rem 0;
}
.avatar{
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 1rem;
    width: 35px;
}
.th{
    background-color: var(--up_footer_bgc);
    padding: 2rem 0;
}
footer a,
.text2 h2,
.text2 p{
    color: white;
    padding: 1rem;
}
footer{
    background-color: var(--footer_bgc);
}
footer a{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-decoration: none;
}
.f1 ul,
.f1{
    margin-left: 2rem;
    padding-top: 3rem;
}
.f1 li:first-child{
    list-style-image: url(../img/icon-phone.svg);
}
.f1 li:last-child{
    list-style-image: url(../img/icon-email.svg);
}
.f2 ul{
    font-size: 18px;
    list-style: none;
    margin: 2.5rem 1rem;
}
.f2 ul li a:hover{
    text-decoration: underline;
    color: hsl(243, 55%, 36%);
}
@media screen and (min-width:700px) {
    footer,
    .th,
    .snd,
    .frs{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .link{
        display: flex;
        margin-left: .5rem;
    }
    .order{
        order: 2;
    }
    h1{
        font-size: 50px;
    }
    .text h2{
        font-size: 40px;
    }
    p{
        font-size: 30px;
    }
    .card p{
        font-size: 20px;
    }
    .btns{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }   
    input{
        width: 50%;
    }
    .card{
        width: 60%;
    }
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .f2{
        display: flex;
        margin: 6.5rem 6.5rem 0 6.5rem;
        padding-bottom:2rem;
    }
    .text2{
        text-align: left;
        width: 50%;
    }
}