*{
    background-color: #202020;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}
.lineas{
    border-radius: 50%;
    padding: 0px 15px;
}
.logo{
    width: 80px;
    padding: 0px 0px;
    
}
input{
    border:1px solid #303030;
    height: 20px;
    width: 500px;
    padding: 18px;
    margin: 0px 394px;
    background-color: black;
}
.iconos{
    float: right;
    margin: 3px 15px;
}
.camp{
    float: right;
}
.search{
    float: right;
}
.micro{
    float: right;
}

.canales{
    background-color: rgba(255,255,255,0.1);
    border:2px solid rgba(74,74,74,1);
    border-radius: 25px;
    padding: 7px;
    margin: 10px;
    text-decoration: none;
    font-size: 16px;
}
aside{
    border: 1px solid rgba(55,55,55,1);
    border-left: none;
    border-right: none;
    padding: 20px;
    width: 80%;
    margin: 15px;
    float: right;
}
.lateral{
    width: 250px;
    height: 100%;
    float: left;
    padding: 2px;
}
.lat{
    margin: 8px;
}
.let{
    padding:  15px 0px;
    margin: 0px 32px;
    text-decoration: none;
    
}
li{
    width: 236px;
    margin: 8px;
    padding: 2px;
    list-style: none;
    float: right;
}
.principal{
    float: left;
    margin: 10px;
}
.pri{
    width: 350px;
}
h3{
    width:340px;
    margin: 0px;
    padding: 11px;
    
}
p{
    padding: 0px;
    margin: 1px 44px;
}
.foto{
    
    float: left;
    border-radius: 50%;
}
