@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background:linear-gradient(to right, #d38db7, #9352b6);
    position: fixed;
    width: 100%;    
}
nav ul{
    display: flex;
    justify-content: space-around;
    padding: .5rem;
}
nav a{
    text-decoration: none;
    font-size: 24px;
}
nav a:hover{
    text-decoration: underline;
}

main{
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 2rem;
}

/* section 1 */

.presentacion{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
}

h1{
    color: #8948ca;
    font-family: 'Lobster Two', cursive;   
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    text-shadow: 1px 1px 7px white;
}
.texto-presentacion p{
    color: #fc77ae;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 2rem;
    text-align: center;
}
h2{
    color: #b06cd3;
    font-size: 30px;
}

p{
    font-size: 16px;
}
 

.hprograma{
    width: 50px;
}
.img{
    width: 100%;
    height: 100%;
    
}
/* section pasatiempos  */
.pasatiempos-gustos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,auto);
}
.gustos h2,
.pasatiempos h2{
    color: rgb(86, 9, 187);
    background-color: #b068d6;
    border: 2px solid rgb(86, 9, 187);
    text-align: center;
    padding: .5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.lista-gustos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.lista-gustos p{
    text-align: center;
}
.lista-pasatiempos{
    display: flex;
}
.lista-pasatiempos ul{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}


li{
    list-style-type: none;
}

/*footer*/
.titulo{
    text-align: center;
}
.icono{
    width: 50px;
}
.linkedin_telegram{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.git{
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}
.autor{
    text-align: center;
}
.autor p{
    color: rgb(66, 66, 66);
    font-size: 14px;
}

@media screen and (min-width: 768px){
    .presentacion{
        display: grid;
        grid-template-columns: repeat(4,25%);
    }
    .texto-presentacion{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .img-presentacion{
        grid-column: 1/3;
        grid-row: 2/4;
        width: 100%;
        height: 100%;
    }
    .sobremi{
        grid-column: 3/5;
    }
    .section-hp h2,
    .sobremi h2{
        font-size: 45px;
    }
    .lista-pasatiempos li,
    .lista-gustos p,
    .sobremi p{
        font-size: 26px;
    }
    .section-hp{
        grid-column: 3/5;
        grid-row: 2/4;
    }
    .hprograma{
        width: 7rem;
    }
    .pasatiempos-gustos{
        display: grid;
        grid-template-columns: repeat(4,25%);
        grid-template-rows: repeat(4,25%);
    }
    .pasatiempos{
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .lista-pasatiempos{
       display: flex;
    }
    .gustos{
        grid-column: 3/5;
    }
     
}
